.react-autosuggest__container {
  position: relative !important;
  margin-bottom: 8px !important;
}

.react-autosuggest__input {
  /* width: 240px !important;
  height: 30px !important;
  padding: 10px 20px !important;
  font-family: Helvetica, sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  /* border: 1px solid #aaa !important; */
  /* border-radius: 4px !important; */
  /* margin-left: 10px !important;
  margin-right: 10px !important;
  width: 420px !important; */
}

.react-autosuggest__input--focused {
  outline: none !important;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.react-autosuggest__suggestions-container {
  display: none !important;
}

.react-autosuggest__suggestions-container--open {
  display: block !important;
  position: absolute !important;
  top: 50px !important;
  width: 420px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  border: 1px solid #aaa !important;
  background-color: #fff !important;
  font-family: Helvetica, sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  max-height: 150px !important;
  overflow-y: auto !important;
  z-index: 2 !important;
}

.react-autosuggest__suggestions-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}

.react-autosuggest__suggestion {
  cursor: pointer !important;
  padding: 10px 20px !important;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd !important;
}
