.standardPaper {
  margin: 10px !important;
  padding: 10px !important;
}

.widePaper {
  margin: 10px !important;
  padding: 10px !important;
  width: 440px !important;
}

.widerPaper {
  margin: 10px !important;
  padding: 10px !important;
  width: 930px !important;
}

.screenWidePaper {
  margin: 10px !important;
  padding: 10px !important;
}

.paperHeader {
  padding-left: 10px !important;
  background-color: "silver" !important;
}
