.textField {
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 200px !important;
}

.longTextField {
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 420px !important;
}

.textFieldInWidePaper {
  margin-left: 10px !important;
  margin-right: 10px !important;
  width: 400px !important;
}
